<div class="mx-auto" style="width: 650px;">
<h3>ゴミ箱</h3>
<table class="table">
  <thead>
    <tr>
      
      <th>作成日</th>
      <th>タイトル</th>
      <th></th> 
      <th></th> 
    </tr>
  <thead>
    
  <tbody>

    <% @blogs.each do |blog| %>
      <tr>
      <!-- 作成日を追加 -->
      <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
      <!-- タイトルを追加 -->
      <td><%= blog.title %></td>
      <td><%= button_to '記事を見る',blog, method: :get,class: "btn btn-primary" %></td>
      <% if blog.user == current_user %>
        <td><%= button_to '復元', restore_path(id:blog.id), method: :post, data: { confirm: '本当に復元しますか？' },class: "btn btn-primary" %></td>
        <td><%= button_to '削除', delete_path(id:blog.id), method: :post, data: { confirm: '本当に削除しますか？' },class: "btn btn-primary" %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      
      </tr>
    <% end %>
    
  </tbody>
</table>
<table>
  <tr>
    <td><%= button_to t('Back'), blogs_path, method: :get,class: "btn btn-primary"%></td>
    <td><%= button_to 'ログアウト', logout_path, method: :delete,class: "btn btn-primary",data: { confirm: 'ログアウトしますか？' } %></td>
  </tr>
</table>
<div>