<div class="mx-auto" style="width: 650px;">
<br>
<h3>ブログ閲覧数ランキング</h3>

<table class="table">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>閲覧数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @most_viewed.each.with_index(1) do |blog, i| %>
      <tr>
        <td><%= "#{i}" %></td>
        <td><%= blog.title %></td>
        <td><%= blog.impressions_count %></td>
        <td><%= button_to '記事を見る',blog, method: :get,class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>ブログいいね数ランキング</h3>

<table class="table">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>いいね数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @all_ranks.each.with_index(1) do |blog, i| %>
      <tr>
       <td><%= "#{i}" %></td>
        <td><%= blog.title %></td>
        <td><%=blog.likes.count %></td>
        <td><%= button_to '記事を見る',blog, method: :get,class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
<h3>ブログコメント数ランキング</h3>

<table class="table">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>コメント数</th>
      <th></th>
    </tr>
  </thead>
<tbody>
    <% @all_ranks_comment.each.with_index(1) do |blog, i| %>
      <tr>
       <td><%= "#{i}" %></td>
        <td><%= blog.title %></td>
        <td><%=blog.comments.count %></td>
        <td><%= button_to '記事を見る',blog, method: :get,class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>ブログ投稿数ランキング</h3>

<table class="table">
  <thead>
    <tr>
      <th>順位</th>
      <th>ユーザ名</th>
      <th>投稿数</th>
    </tr>
  </thead>
<tbody>
    <% @all_ranks_user_blog.each.with_index(1) do |user, i| %>
      <tr>
       <td><%= "#{i}" %></td>
        <td><%= user.name %></td>
        <td><%=user.blogs.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'logged_in_user', blog: @blog %>
<table>
  <tr>
    <td><%= button_to t('Back'), blogs_path, method: :get,class: "btn btn-primary"%></td>
</tr>
</table>
</div>
