<p id="notice"><%= notice %></p>


    <!-- h1タグでタイトルを表示 -->
    <h2><%= @blog.title %></h2>

    <!-- 本文を表示 -->
    <%= simple_format(@blog.body) %>
    
    <%= tag.div id: :comments_area do %>
        <%= render partial: "comments/index", locals: { comments: @blog.comments } %>
    <% end %>
    <%= tag.div id: :comment_form do %>
        <%= render partial: "comments/form", locals: { comment: @blog.comments.build } %>
    <% end %>
   

いいね件数:<%= (@blog.likes.count)%>
<%if current_user.already_liked?(@blog)%>
  <%= button_to 'いいねを取り消す', blog_like_path(@blog), class: 'btn btn-success',method: :delete, remote: true %>  
<% else%>
  <%= button_to 'いいね', blog_likes_path(@blog),class: 'btn btn-success', remote: true%>
<%end%>

  
    <strong>閲覧数:</strong>
    <%= @blog.impressions_count %>
    <br>
    
    <%= link_to t('Back'), blogs_path %>|
    <%= link_to 'ランキングを見る', '/ranks/rank' %>|
    <%= link_to "ログアウト", logout_path, method: :delete %>
  
  